<div class="nav-head">Sacred Realism</div>
<div class="nav-pagelinks">
    <div class="artists">
        <a href="#">artists</a>
        <ul>
            <li><a href="page.html">Andrew Lafkas</a></li>
            <li><a href="#">Bryan Eubanks</a></li>
            <li><a href="#">Catherine Lamb</a></li>
            <li><a href="#">Rebecca Lane</a></li>
            <li><a href="#">Xavier Lopez</a></li>
        </ul>
    </div>
    <div class="label">
        <a href="#">label</a>
    </div>
    <div class="contact">
        <a href="#">contact</a>
    </div>
</div>
<div class="nav-iconlinks">
    <a href="#" class="bandcamp"></a>
    <a href="#" class="basket"></a>
</div>